@* @model List<QuickTest>

<h2>Your Test</h2>
<ol>
    @foreach (var question in Model)
    {
        <li>
            <strong>[@question.Part]</strong><br />
            <strong>@question.QuestionText</strong><br />
            <input type="radio" name="q@question.Id" value="A" /> @question.OptionA <br />
            <input type="radio" name="q@question.Id" value="B" /> @question.OptionB <br />
            <input type="radio" name="q@question.Id" value="C" /> @question.OptionC <br />
            <input type="radio" name="q@question.Id" value="D" /> @question.OptionD
        </li>
    }
</ol> *@



@model List<SprihaQuickTest>

<style>
    h2 {
        color: #f37067;
        text-align: center;
    }

    .optionBtn {
        border: 1px solid #bcbcbc;
        padding: 5px;
        color: gray;
        font-weight: 500;
    }

    .btn-label {
        padding: 10px 20px;
        margin: 5px;
        background-color: #f1f1f1;
        color: gray;
        text-align: center;
        border: 1px solid #bcbcbc;
        width: 48%;
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .btn-label:hover {
            border: 1px solid #bcbcbc;
            box-shadow: inset 0 0 10px 0 #bcbcbc
        }

    input[type="radio"] {
        display: none;
    }

        input[type="radio"]:checked + .btn-label {
            background-color: #bcbcbc;
        }

    .question {
        color: #1a3a54;
    }

    /* .mfooter{
        position: fixed;
        bottom: 0;
        width: 100%;
    } */

    .coming-soon {
        width: 100%;
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: white;
        overflow: hidden;
    }

    .coming-soon-inner {
        position: relative;
    }

    .heading {
        font-size: 80px;
        text-transform: uppercase;
        padding: 20px;
        background: #ebecee;
        color: #4970b3;
        transform: skewY(-10deg);
        font-weight: 500;
        line-height: 100px;
    }

    .small-heading {
        font-size: 25px;
        text-transform: uppercase;
        display: inline-block;
        padding: 20px;
        background: #fff;
        color: gray;
        transform: skewY(-10deg);
        font-weight: 500;
        line-height: 30px;
        box-shadow: 10px 10px 20px rgb(0 0 0 / .3);
        position: absolute;
        right: 0;
        bottom: -37px;
    }





    .coming-soon-inner:before {
        content: "";
        height: 2px;
        width: 60%;
        background: #000;
        position: absolute;
        top: -50px;
        right: 0;
        transform: skewY(-10deg);
    }

    .coming-soon-inner:after {
        content: "";
        height: 2px;
        width: 60%;
        background: #fff;
        position: absolute;
        bottom: -80px;
        right: 0;
        transform: skewY(-10deg);
    }

    .heading:before {
        content: "";
        height: 2px;
        width: 60%;
        background: #000;
        position: absolute;
        top: -50px;
        left: 0;
    }

    .heading:after {
        content: "";
        height: 2px;
        width: 60%;
        background: #fff;
        position: absolute;
        bottom: -120px;
        left: 0;
    }

    /* .mfooter{
        position: fixed;
        bottom: 0;
        width: 100%;
    } */

    .titleMain {
        background: linear-gradient(to bottom, rgba(0, 24, 68, 0.2), rgba(188, 188, 188, 0.3));
        padding: 20px;
        text-align: center;
        color: #001844;
        font-size: 20px;
        font-weight: 600;
        /* box-shadow: inset 0px 0px 3px 0px #1a73e8; */
        /* box-shadow: 0px 3px 3px rgba(119,118,121,.5); */
        /* box-shadow: 0px 1px 10px rgba(0,24,68,0.4); */
    }

</style>
<section class="titleMain">
    <div class="title teacherList col-md-12" style="font-family: cursive;">কুইক টেস্ট:</div>
</section>
<section class="coming-soon">
    <div class="coming-soon-inner">
      <h1 class="heading">Available Soon</h1>
      <h2 class="small-heading">Under Development</h2>
    </div>
 </section>






@* <div class="container">
    <h2>Sample Question for Quick Test</h2>

    <div class="question">
        <form method="post" action="/QuickTest/SubmitAnswers">
            <ol>
                <li>
                    <div style="display: flex;">
                        <input type="radio" name="" value="A" id="q@question.Id_A" />
                        <label class="btn-label" for="q@question.Id_A">OptionA</label> <br />

                        <input type="radio" name="" value="B" id="q@question.Id_B" />
                        <label class="btn-label" for="">OptionB</label> <br />

                        <input type="radio" name="" value="C" id="q@question.Id_C" />
                        <label class="btn-label" for="q@question.Id_C">OptionC</label> <br />

                        <input type="radio" name="" value="D" id="q@question.Id_D" />
                        <label class="btn-label" for="q@question.Id_D">OptionD</label>
                    </div>
                </li> *@



               @*  @foreach (var question in Model)
                {
                    <li> *@
                        @* <strong>[@question.Part]</strong><br /> *@
                        @* <strong>@question.QuestionText</strong><br />
                        <button class="optionBtn" style="width: 47%; margin: 1%;" type="submit" name="answer_@question.Id" value="A">@question.OptionA</button>
                        <button class="optionBtn" style="width: 47%; margin: 1%;" type="submit" name="answer_@question.Id" value="B">@question.OptionB</button>
                        <br/>
                        <button class="optionBtn" style="width: 47%; margin: 1%;" type="submit" name="answer_@question.Id" value="C">@question.OptionC</button>
                        <button class="optionBtn" style="width: 47%; margin: 1%;" type="submit" name="answer_@question.Id" value="D">@question.OptionD</button>
                        <br /> *@

                        @* <strong class="question">@question.QuestionText</strong><br />
                        <div style="display: flex;">
                            <input type="radio" name="answer_@question.Id" value="A" id="q@question.Id_A" />
                            <label class="btn-label" for="q@question.Id_A">@question.OptionA</label> <br />

                            <input type="radio" name="answer_@question.Id" value="B" id="q@question.Id_B" />
                            <label class="btn-label" for="q@question.Id_B">@question.OptionB</label> <br />

                            <input type="radio" name="answer_@question.Id" value="C" id="q@question.Id_C" />
                            <label class="btn-label" for="q@question.Id_C">@question.OptionC</label> <br />

                            <input type="radio" name="answer_@question.Id" value="D" id="q@question.Id_D" />
                            <label class="btn-label" for="q@question.Id_D">@question.OptionD</label>
                        </div>

                    </li>
                } *@
@*             </ol>

            <button type="submit">Submit Answers</button>
        </form>

    </div>
</div> *@


